@import "tailwindcss";

:root {
  --background: #0b0b0c;
  --card: #171a1c;
  --foreground-card:#000;
  --foreground: #fff;
  --mutted:#b3b3b3;
  --primary: #53fc18;
  --input:#1c1f21;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary:var(--primary);
  --color-card:var(--card);
  --color-foreground-card:var(--foreground-card);
  --color-mutted:var(--mutted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-input: var(--input);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.custom-scroll::-webkit-scrollbar {
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
